h1 {
 font-family: 'Passion One', cursive;

}

h3 {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
    margin-top: 60px;
    background-color: rgba(225, 245, 223, 0.55);
    border: solid teal 2px;
}

#quiz {
    background-color: rgba(225, 245, 223, 0.55);
    border: solid teal 2px;
}

body {
        background-image: url(../images/regal.png);
        background-repeat: repeat-xy;
}

#results-modal {
    background-color: rgba(225, 245, 223, 0.55);
    border: solid teal 2px;

}